<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      {% if page.title %}
        {{ page.title | escape }} · {{ site.title | escape }}
      {% else %}
        {{ site.title | escape }}
      {% endif %}
    </title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">

      <header>
        <h1 class="site-title">
          <a href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
        </h1>

        {%- if page.url == "/" -%}
          <p class="site-description">{{ site.description }}</p>
        {%- elsif page.custom_description -%}
          <p class="site-description">{{ page.custom_description }}</p>
        {%- endif -%}

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ site.github.repository_nwo }}</small></a></p>
        {% endif %}
        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
      </header>

      <main>
        {{ content }}
      </main>

    </div>
  </body>
</html>
